@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

$primary-font: 'Cabin', sans-serif;
$backgroundcolor: #e4e9f3;

*{
  font-family: $primary-font;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  background: #ddd;
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #00000070;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(125deg, #1a1a58, #966fd6);
  border-radius: 11px;
}

body {
  font-family: $primary-font;
  background-image: url("../img/laurits-rask-kindred-splash-art.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 18px;
  ::placeholder{
    color: white;
    font-size: 35px;
  }
}

.logo{
  font-size: 25px!important;
  color: white;
  margin-left: 50px;
  margin-top: 35px;
}

.searchbar{
  margin: -83px auto 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
  width: 500px !important;
  text-align: center;
  height: 30px;
  background: transparent;
  border: 3px solid white;
  border-radius: 50px;
  padding: 20px;
  color: white;
  font-size: 35px;
  outline: none;
}

.searchbar2{
  margin: 80px auto 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
  width: 500px !important;
  text-align: center;
  height: 30px;
  background: transparent;
  border: 3px solid white;
  border-radius: 50px;
  padding: 13px;
  color: white;
  font-size: 25px;
  outline: none;
}

.submit{
  margin: -65px 500px 0 720px;
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
}
.submit2{
  margin: -60px 500px 0 140px;
  top: 100%;
  left: 0;
  right: 0;
  position: absolute;
}

.echo1{
  color: white;
  margin: 0;
  position: relative;
  top: 20%;
  left: 28%;
}

.echo12{
  color: white;
  text-decoration: none;
  position: absolute;
  top: 75%;
  left: 43%;
  border-radius: 10px;
  border: 3px solid rebeccapurple;
  background-color: mediumpurple;
  padding: 5px;
}

.get1{
  width: 760px;
  height: 300px;
  position: absolute;
  top: 35%;
  left: 28%;
  border-radius: 30px;
  background: #966fd6;
  text-align: justify;

  p{
    margin: 0;
    position: relative;
    top: 22%;
    left: 53%;
    color: white;
    font-size: 25px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  h3{
    color: white;
    font-size: 12px;
    position: absolute;
    left: 47.8%;
    top: 38.5%;
  }
}



footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
}


.slideshow-container {
  position: relative;
  background: #a48fd2;
  opacity: 0.9;
  width: 750px;
  left: 30.5%;
  margin-top: 470px;
}
.h211{
  color: white;
  font-size: 35px;
  position: absolute;
  margin-left: 300px;
  top: 5%;
}


.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: #663399;
  color: white;
}


.dot-container {
  position: relative;
  text-align: center;
  padding: 20px;
  background: rebeccapurple;
  width: 710px;
  left: 30.5%;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}


q {font-style: italic;}

.author {color: white;}

.profileicon{
  width: 150px;
  height: 150px;
  left: 39%;
  top: 0.5%;
  position: absolute;
}